#product-image
{
    margin-top: 15px;
    height: 300px;
}

#product-name
{
    display: block;
}

#items
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}